@model SalesWebMvc.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger"></h1>
<h2 class="text-danger"></h2>
<div class="alert alert-dismissible alert-primary">
   <h4 class="alert-heading">@ViewData["Title"]</h4>
  @if (Model.ShowRequestId)
    {
        <p class="mb-0">@Model.Message <br /><strong>Request ID:</strong> <code>@Model.RequestId</code>.</p>
        
    }
    </div>

